<footer class="footer">
  <span class="footer__copyright"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="/images/cc-by.png"/></a><br />{{ site.time | date: '%Y' }} {{ site.author.name }}</span>
  <span class="footer__copyright"><a href="mailto:{{ site.author.email }}?subject={{ page.title }}">Comments, questions, or concerns? Click here to send me an email about it!</a></span>
  <span class="footer__copyright"><a href="bitcoin:18j2TVpfZtDFoi7EpxXgEKh1954p2S39en">Alternatively, donate to my weed and whiskey fund!</a> 18j2TVpfZtDFoi7EpxXgEKh1954p2S39en</span>
</footer> 

<script type="text/javascript" src="{{ "js/jquery-3.1.1.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "js/main.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "js/anchor.js" | prepend: site.baseurl }}">
</script>
